#jux_logo93 {
}
.jux_logo_showcase .logo_showcase_grid{
text-align: center;
}
.jux_logo_showcase .jux_logo_item:hover {
z-index: 1;
}
.jux_logo_item_info{
text-align: center;
}
.jux_logo_item .jux_logo_item_info{
position:relative;
}
.jux_logo_item .jux_logo_item_info a{
text-decoration: none;
}
.owl-theme .owl-controls .owl-buttons div{
color:fff!important;
position:absolute;
bottom:30%;
}
.owl-next {
right:0px;
}
.owl-prev {
left:0px;
}
.tooltip.top .tooltip-arrow{
border-top-color:#A2A2A2!important;
}
.tooltip-inner{
background-color: #A2A2A2!important;
}