/*===============================
 time:1469773062
================================================================================*/
#jux_logo397 .logo_showcase_slider
.jux_logo_item{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;background-color:transparent;margin:0px
-5px -1px 0px;box-shadow:;-moz-box-shadow:;-webkit-box-shadow:;-o-box-shadow:;-ms-box-shadow:;border-width:none;border-style:;border-color:}#jux_logo397 .logo_showcase_slider .jux_logo_item
.logo_item_image{opacity:1}#jux_logo397 div.logo_showcase_slider .jux_logo_item:hover{background-color:transparent;box-shadow:;-moz-box-shadow:;-webkit-box-shadow:;-o-box-shadow:;-ms-box-shadow: }#jux_logo397 .logo_showcase_slider .jux_logo_item .logo_item_image:hover{opacity:1}#jux_logo397
div.jux_logo_item{display:inline-block}